@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars and styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  font-family: 'Inter', sans-serif;
  @apply antialiased bg-gray-50 text-gray-900;
}
